header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  padding: 92px 50px 96px 50px;
  width: 100%;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin-right: 40px;
}

.menu__item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  letter-spacing: 0%;
}

.menu__item a {
  border-bottom: none;
}


.menu__item::before {
  content: "";
  width: 6px;
  height: 6px;
  border: 0.5px solid #000;
  border-radius: 50%;
  margin: 0 13px;
  display: inline-block;
}

.menu__item_no-border::before {
  content: none;
}

.navigation__item-typography {
  font-size: 18px;
  line-height: 24.3px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #000;
  cursor: pointer;
  width: 264;
  height: 24;
  left: 50.57px;
  border-width: 1px;
}

.navigation__item-typography_no-border {
  border-bottom: none;
}


.header_logo {
  display: block;
  width: 148px;
  height: 105px;
}

.adress_header {
  max-width: 240px;
  margin-left: auto;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.adress-list {
  display: flex;
  flex-flow: column nowrap;
}

.cover {
  position: relative;
  padding: 0 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 180px;
}

.overlay {
  position: absolute;
  background-color: #000000;
  opacity: 60%;
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cover_title {
  position: relative;
  z-index: 1;
  margin-bottom: 106px;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: grid;
  flex-direction: column;
  row-gap: 21px;
  color: #fff;
  padding-top: 165px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  margin-left: 30px;
}

.aligned-text_right {
  text-align: right;
  margin-right: -30px;
}

.description {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  gap: 78px;
  font-size: 21px;
  font-weight: 400px;
  line-height: 28px;
  color: #fff;
  position: relative;
  z-index: 1;
  word-spacing: 22px;
  padding-bottom: 50px;
  bottom: 2px;
}

.description-text {
  margin-left: auto;
}

.bet-button {
  border: 1px solid currentColor;
  padding: 12px 32px;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  background-color: white;
  margin-bottom: 120px;
}

.lot-link {
  text-decoration: none;
  color: inherit;
}

.lot-link .subject {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.section_title_about {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  margin: 3px 0 60px;
  margin-left: 0px;
  display: flex;
  justify-content: start;
  text-transform: uppercase;
}

.section_title_lots {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  margin-left: 64px;
}

.lots ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin: 22px 24px 30px;
}

.lots li {
  position: relative;
  flex: 1;
  background-size: cover;
  background-position: center;
  padding: 48px 40px;
}

.lots li article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;
  height: 100%;
  position: relative;
  z-index: 1;
  flex-grow: 1
}

.lots_movie {
  background-image: url(../images/card-lot-01.jpg)
}

.lots_book {
  background-image: url(../images/card-lot-02.jpg)
}

.lots_picture {
  background-image: url(../images/card-lot-03.jpg)
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  flex-grow: 1;
  align-self: stretch;
}

.more_href {
  display: flex;
  position: relative;
  margin: 0 64px;
  width: 192px;
  border-width: 1px;
  font-weight: 400;
  font-size: 20px;
}

.about {
  margin: 0 24px 200px 24px;
  width: 1052px;
}

.about__container {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-content: center;
  gap: 24px;
  margin-right: 5px;
}

.about__container_logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  align-content: center;
  margin: 35px 47px 0 47px;
}

.about__container_logo_img {
  width: 148px;
  height: 114px;
  margin-top: 64px;
  margin-left: 47px;
}

.about__container--text {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 133px;
}

.text_about {
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  margin: 16px 0 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  padding: 0 50px;
  margin: 0 0 82px 0;
}

.subject_list {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  justify-content: center;
  display: flex;
}

.subject_list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

}


.social {
  display: flex;
  flex-direction: row-reverse;

}

.social_list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.icon {
  width: 48px;
  height: 48px;
}